.user-container{
    margin-left: 2rem;
    margin-top: 1rem;
    border-style: none;
    background-color: rgba(128, 128, 128, 0.082);
    height: 49rem;
    border-radius: 1rem;
    padding-bottom: 1rem;
    width: 100rem;
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 1rem;
    word-wrap: normal;
    overflow: scroll;
}

.profile{
    padding: 1rem;
    background-color: #8884d8;
    border-radius: 0.4rem;
    width: 40rem;
    height: 5rem;
    border: none;
    display: flex;
    margin-top:1rem;
}

.profile:hover{
    background-color:#746eec ;
    transition: background-color 200ms;
    cursor: pointer;
}


.image{
    width: 4rem;
    border-radius: 3rem;
    height: 4.3rem;
    margin-top: -1.3rem;
}

.image img{
    width: inherit;
    height:inherit;
    border-radius: 9rem;
}

.stats{
    height: inherit;
    margin-left: -0.9rem;
    display: grid;
    margin-top: -1.4rem;
    font-size: 1rem;
}


.inner-profile{
    display: grid;
    justify-items: left;
    margin-top: -0rem;
}

.user-name{
    font-weight: 500;
    font-size: 1.4rem;
}

.stack{
    margin-top: 0.4rem;
    font-size: 0.8rem;
}

.dash{
    display: flex;
    gap: 4rem;
 background-color: antiquewhite;
}

.heading{
    margin-left: 0.4rem;
    margin-top: 1rem;
    padding-top: 1rem;
    color:rgb(114, 114, 114);
}

.del{
  position: relative;
   left:40rem;
   top:-20rem;
}


.body{
    filter: blur(13px);
}

.pop-up{
    display:grid;
    justify-content: center;
    position: absolute;
    top:20rem;
    left:44rem;
    z-index: 1;
   
}

.pop-inner{
       background-color: #8884d8;
       width:30rem;
       height: 15rem;
       border-radius: 1rem;
       padding: 1rem;
       display: none;
       box-shadow: 1px 20px 20px rgba(86, 122, 202, 0.247);
      
    }
    .close{
        margin-left: 26rem;
    }

    .close:hover{
  cursor: pointer;
    }


    .del-icon:hover{
   cursor: pointer;
    }

    .pop-icons{
        display: flex;
        gap:3rem;
        margin-left: 8rem;
        margin-top: 1.4rem;
    }

    .edit-icons:hover{
         cursor: pointer; 
    }

    .refresh-icons:hover{
        cursor: pointer;
    }

    .mail{
        font-size: 1rem;
        display: flex;
        gap:1rem;
        font-weight: bold;
    }
    .name{
        font-size: 1rem;
        display: flex;
        gap:1rem;
        font-weight: bold;
    }
  
    .del-notice{
        background-color: rgb(247, 85, 85);
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0.7rem;
        border-radius: 1rem;
        color: white;
        display: none;
        margin-top: 2rem;
    }
  
   

