.ov-main{
    width: 100%;
    height: 51rem;
    background-color: rgba(230, 238, 237, 0.014);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.ov-{
   display: flex;
   gap:3rem;
   justify-content: left;
}

.ov-profile-list{
    background-color: rgba(128, 128, 128, 0.055);
    height:49rem;
    width: 23%;
    border-radius: 0.4rem;
    overflow: scroll;
}

.profiles{
    display: grid;
    margin-left: 1rem;
}

.s-profile{
    margin-top: 2rem;
    height: 5rem;
    border: none;
    background-color:#8884d8;
    border-radius: 0.3rem;
}

.s-profile:hover{
    background-color: #8884d8;
}

.btn-content{
    display: flex;
    flex-flow: column;
    justify-content: left;
    margin-top: 0rem;
    font-weight: 400;
    padding: 0.2rem;
}

span{
    text-align: left;
    font-size: 0.8rem;
}

.radial{
    display: flex;
    margin-left: 25rem;
    margin-top: -20rem;

}

.ov-profiler{
    margin-left: 1rem;
    
}

.profile{
  width: 97%;

}

.ov-inner-profiler{
    background-color: #8884d8;
    width: 23rem;
    height: 28rem;
    display: grid;
    gap:1rem;
    padding: 1rem;
    align-content:flex-start;
    border-radius: 1rem;
}

.profiler-name{
    font-weight: bold;
    font-size: 1.3rem;    
}

.ov--{
    margin-top: 2rem;
}

.ov-h{
    display: flex;
    gap:1rem
}

.profiler-img{
    width:4rem;
    height:3rem;
}

.ov-heading{
    padding-bottom:3rem;
}

.dis{
     display: flex;
     gap:1rem;
}


.ov-stats{
    display: flex;
    gap:2rem;
    justify-content: center;
    margin-top: 3rem;
}

.stats-- h2{
    font-size: 0.6rem;
}

.line{
    position: relative;
    left:5.3rem;
    height:7rem;
    margin-top: -5rem;  
}

.line-2{
    margin-left: 1rem;
}

.counts{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1rem;
}

.counts2{
    margin-left: 1.4rem;
}

.counts3{
    margin-left: 2rem;
}

.line-chart{
    margin-left: 27rem;
    margin-top:-14rem;
}